@model IEnumerable<Course>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<table class="table table-striped table-hover mt-3">
  
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Image)</th>
            <th>@Html.DisplayNameFor(model => model.Topic)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Duration)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.Requirements)</th>

            <th>Instructor Name</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Approve</th>
        </tr>
    </thead>
 
        @foreach (var course in Model)
        {
        <tbody>
            <tr>
                <td><img src="~/Files/Images/@course.ImageName" class="rounded" height="40" width="40" alt="course Image" /></td>
                <td>@course.Topic</td>
                <td>@course.Description</td>
                <td>@course.Price</td>
                <td>@course.Duration</td>
                <td>@course.Status</td>
                <td>@course.Requirements</td>
                <td>@(course.Instructor.FirstName + " " + course.Instructor.LastName)</td>
                @*<td><a asp-action="Edit" asp-route-id="@Model"><i class="fas fa-edit"></i></a></td>
            <td><a asp-action="Delete" asp-route-id="@Model"><i class="fa-sharp fa-solid fa-trash" style="color: #e60f24;"></i></a></td>*@
                <partial name="_buttonPartialView" model="@course.Id"></partial>
                 <td><a asp-action="ApproveCourse" asp-route-id="@course.Id"><i class="fa-check fa-solid" style="color:green"></i></a></td>
            </tr>
        </tbody>
        }
  
</table>
 